*.js.map
*.config
*.user
bin
obj
Properties
*.sln
*.suo

# *.js vill eventually go away, but for now it's just fine
*.js
!plugins/*.js

# webstorm
.idea/

# System Files
.DS_Store
Thumbs.db

# Dependency directories
node_modules/

# builds
dist/