/* this are engine-required CSS, do not change it */
html, body {
    height: 100%;
}

div, p, h1, h2, h3, h4, h5, h6, blockquote {
    position: relative;
    margin-bottom: 0; /* Messing mith margins in DOM is a hell, I'll return to this later on */
    margin-top: 0;
}

div.FB2readerPage {
    overflow:hidden;
    float:left;
    height: 100%;
    padding: 0;
    margin: 0;
}

.FBReaderNotesDiv {
    padding: 0 10px  0;
    margin: 10px 3em 0 10px;
}


.cut_top {
    padding-top:0;
    margin-top:0;
    border-top: none;
}

.cut_bot {
/*    padding-bottom:0;*/
    margin-bottom:0;
    border-bottom: none;
}

div.FB3ReaderColumnset4 div.FB2readerPage {
    width: 25%;
}
div.FB3ReaderColumnset3 div.FB2readerPage {
    width: 33.3%;
}
div.FB3ReaderColumnset2 div.FB2readerPage {
    width: 50%;
}

div.FB3ReaderColumnset1 div.FB2readerPage {
    width: 100%;
}
/* engine-required CSS END */

/* this are engine-independent CSS, do with it whatewer you see fit */
/*
  Several things to note:

    - never mess with em/ex in heights and/or vertical margins/paddings
      (for the text size it's probably ok, but still avoid it)

    - You can make whatever changes to column styles depending on it's
      position using FB2readerCell1of2 classes and the like, yes. UNTILL.
      Untill every page's (height|width|inner element sizes) are identical.
      As engine renders first page and then the next page's borders are
      quessed analising it in the belief the next page will behave exactly
      as the first one does and so on. Background, symmetrical margins
      and all that - at your service
    
*/
.FBReaderContentDiv h1 {
    font-family: 'Times New Roman', serif;
    padding: 5px 0 10px 0;
}
.FBReaderContentDiv h2 {
    font-family: 'Times New Roman', serif;
    padding: 4px 0 8px 0;
}
.FBReaderContentDiv div, .FBReaderContentDiv p,
.FBReaderContentDiv h3, .FBReaderContentDiv h4,
.FBReaderContentDiv h5, .FBReaderContentDiv h6 {
    font-family: 'Segoe UI', sans-serif;
}
#reader {
    height:80%;
    width:100%;
}

div.FB2readerPage div.FBReaderContentDiv {
    padding:10px;
    margin:0;
}

#FB3ReaderHostDiv {
    background-color: #000070;
    color:yellow;
}

div.FB2readerPage a.footnote_attached {
    font-size: 70%;
    vertical-align: super;
    line-height:30%;
    margin:0 -0.1em 0 0.1em;
}

div.FB2readerPage p {
    text-align: justify;
    padding:0;
    margin:0;
    text-indent:1.3em;
}
div.FB2readerPage p.cut_top {
    text-indent:0;
}
div.FB2readerPage div.footnote {
    font-size: 80%;
    clear:both;
}
div.FB2readerPage p.footnote {
    text-align: left;
    font-size: 80%;
    width:auto;
}

.FBReaderNotesDiv {
    border-top: 1px dotted #ffff5d;
    font-family: 'Segoe UI', sans-serif;
    background-color: #000070;
}

.FBReaderNotesDiv h2,
.FBReaderNotesDiv h3,
.FBReaderNotesDiv h4,
.FBReaderNotesDiv h5,
.FBReaderNotesDiv h6 {
    display: inline-block;
}
.FBReaderNotesDiv h2.footnote,
.FBReaderNotesDiv h3.footnote,
.FBReaderNotesDiv h4.footnote,
.FBReaderNotesDiv h5.footnote,
.FBReaderNotesDiv h6.footnote{
    font-size: 80%;
    vertical-align: super;
    margin:0;
    padding:0;
    margin-left: -10px;
}

.FBReaderNotesDiv p.footnote {
    display: inline;
    margin-left: 0.3em;
}